.section {
  max-width: var(--screen-width);
  margin-inline: auto;
  padding-inline: 2.5rem;
}

.invert-colors {
  filter: invert();
  mix-blend-mode: difference;
}

.text-title {
  font-size: clamp(4rem, 20vw, 10rem);
  letter-spacing: -3%;
  font-weight: 600;
  line-height: 100%;
}

.text-heading {
  font-size: clamp(2.25rem, 5vw, 4rem);
  letter-spacing: -4%;
  font-weight: 500;
  line-height: 125%;
}

.text-large {
  font-size: clamp(1.75rem, 4vw, 3rem);
  letter-spacing: -3%;
  font-weight: 500;
  line-height: 150%;
}

.text-medium {
  font-size: clamp(1.75rem, 3.5vw, 2.5rem);
  letter-spacing: -3%;
  font-weight: 500;
  line-height: 125%;
}

.text-subtitle {
  font-size: clamp(1rem, 3vw, 1.5rem);
  letter-spacing: -3%;
  font-weight: 500;
  line-height: 125%;
}

.text-body {
  font-size: clamp(0.875rem, 2vw, 1rem);
  letter-spacing: -3%;
  font-weight: 500;
  line-height: 150%;
}

.vertical-rl {
  writing-mode: vertical-rl;
}

.vertical-lr {
  writing-mode: vertical-lr;
}

.font-cursive {
  font-family: "Times New Roman", Times, serif !important;
  font-weight: 400;
}

@media screen and (max-width: 500px) {
  .section {
    padding-inline: 1rem;
  }

  .text-title {
    line-height: 110%;
  }
}
